<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <form action = '/UserLogin' method="POST">
    <input type="username" name="username" placeholder="Username"><br><br>
    <input type="email" name="email" placeholder="Email"><br><br>
    <input type="tel" name="number" placeholder="Phone Number (Optional)"><br><br>
    <input type="password" name="password" placeholder="Password"><br><br>
    <input type="submit" value='Login'>


</form>
</body>    
</html>